.swiper {
	width: 100%;
	max-width: 1440px;
	position: relative;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: auto !important;
}

.img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.swiper-pagination-bullets {
	left: 1% !important;
	top: 80% !important;
	padding: 5px;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	opacity: 1;
	background: #ffffff;
}

.swiper-pagination-bullet-active {
	background: #197a82;
}
